PROJECT_NAME=Insurance Management System API
API_VERSION=0.1.0
ENVIRONMENT=local

POSTGRES_DB=insurance_app
POSTGRES_USER=insurance_user
POSTGRES_PASSWORD=insurance_password

DATABASE_URL=postgresql+psycopg://insurance_user:insurance_password@localhost:5432/insurance_app
BACKEND_CORS_ORIGINS=http://localhost:3000,http://127.0.0.1:3000
NEXT_PUBLIC_API_URL=http://localhost:8000
